.home {
    height: 300px;
    width: 100vw;
    margin: 0 auto;
    padding-top: 100px;
    font-family: fantasy;
    text-align: center;
}

.home h1 {
    font-size: 2.5rem;
    letter-spacing: 1.2px;
    color: whitesmoke;
    margin-bottom: 35px;
}

.home p {
    font-size: 1.3rem;
    color: whitesmoke;
    line-height: 50px;
    margin-bottom: 40px;
    letter-spacing: 0.5px;
}

@media (max-width: 640px) {
    .home h1 {
        font-size: 5vw;
    }

    .home p {
        font-size: 1rem;
    }
}