.home {
    height: 350px;
    max-width: 100vw;
    padding-top: 100px;
    font-family: fantasy;
    text-align: center;
}

.home h1 {
    font-size: 2.5rem;
    letter-spacing: 1.2px;
    color: whitesmoke;
    margin-bottom: 15px;
}

.home p {
    font-size: 1.3rem;
    color: whitesmoke;
    line-height: 50px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

@media (max-width: 700px) {
    .home h1 {
        font-size: 2rem;
    }

    .home p {
        font-size: 1rem;
    }
}