footer {
    height: 70px;
    width: 100vw;
    position: relative;
    bottom: 0;
    padding-top: 20px;
    color: blueviolet;
}

footer span {
    width: 49%;
    display: inline-block;
    padding: 0 15px;
}

.scroll-top {
    cursor: pointer;
    font-size: 2rem;
    text-align: right;
}

.scroll-top:hover {
    color: turquoise;
    transition: all 0.7s ease-in;
}

@media (max-width: 700px) {
    footer span {
        font-size: 0.8rem;
    }
}
