footer {
    position: absolute;
    min-height: 40px;
    max-height: 40px;
    width: 100vw;
    bottom: 0;
    color: whitesmoke;
    padding-top: 15px;
}

footer .left p {
    font-weight: bold;
    font-size: 13px;
    padding-left: 15px;
}

footer .left {
    float: left;
}

footer .right {
    float: right;
}

footer .right p {
    cursor: pointer;
    font-size: 15px;
    padding-right: 15px;
    -webkit-transform: scale(5, 1);
    -moz-transform: scale(5, 1);
    -ms-transform: scale(5, 1);
    -o-transform: scale(5, 1);
    transform: scale(5, 1);
}

footer .right:hover {
    color: turquoise;
}