footer {
    position: absolute;
    min-height: 40px;
    width: 100%;
    bottom: 0;
    color: whitesmoke;
    padding-top: 50px;
    display: flex;
}

footer .left {
    font-weight: bold;
    font-size: 13px;
    padding-left: 15px;
}

footer .left,
.right {
    padding-bottom: 15px;
    display: inline-block;
}

footer .right {
    cursor: pointer;
    font-size: 20px;
    padding-right: 15px;
}

footer .right:hover {
    color: turquoise;
}
