.challenges-page {
    min-height: 600px;
    width: 100%;
    margin: 25px 0;
    padding-top: 25px;
}

.challenges-page h2 {
    font-size: 1.7rem;
    margin: 25px auto;
    text-align: center;
}

.challenges-page table {
    width: 800px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid white;
    margin: 0 auto;
}

.challenges-page .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    color: blueviolet;
}

.challenges-page .title:hover {
    color: turquoise;
    transition: all 0.4s ease-in;
}

@media (max-width: 700px) {
    .challenges-page h2 {
        font-size: 1.2rem;
    }

    .challenges-page table {
        width: 80vw;
        font-size: 12px;
    }
}
