.navbar {
    height: 70px;
    width: 100vw;
}

.navbar-brand,
.nav-link {
    color: white !important;
    font-size: 1.3rem;
    font-weight: bold;
}

.navbar-brand:hover,
.nav-link:hover {
    color: turquoise !important;
}

.nav-link {
    padding-right: 15px !important;
}

@media screen and (max-width: 700px) {

    .navbar-brand,
    .nav-item {
        font-size: 16px;
    }
}