.navbar {
    height: 70px;
    max-width: 100vw;
    padding: 0 !important;
}

.navbar-toggler {
    background-color: whitesmoke !important;
    max-width: 30px;
    height: 30px !important;
    margin: 15px !important;
    transform: rotate(135deg);
}

.navbar-toggler:focus {
    outline: 0;
    border: 3px solid skyblue;
}

.navbar-brand,
.nav-link {
    color: white !important;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 !important;
    padding-left: 15px;
}

.navbar-brand:hover,
.nav-link:hover {
    color: turquoise !important;
    transition: all 0.4s ease-in;
}

.nav-link {
    margin-left: 10px !important;
}

.navbar-collapse {
    background: black;
    background-image:
        radial-gradient(white, rgba(255, 255, 255, .2) 2.3px, transparent 40px),
        radial-gradient(white, rgba(255, 255, 255, .15) 1.7px, transparent 30px),
        radial-gradient(white, rgba(255, 255, 255, .1) 2.1px, transparent 40px),
        radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    z-index: 100;
}

@media screen and (max-width: 700px) {

    .navbar-brand,
    .nav-link {
        font-size: 16px !important;
    }
}