.navbar {
    min-height: 70px;
    max-height: 100px;
    width: 100vw;
}

.navbar-toggler {
    font-size: 20px !important;
    background-color: white !important;
    width: 40px !important;
    height: 40px !important;
    margin: 0 !important;
}

.navbar-toggle .icon-bar {
    background-color: aliceblue !important;
}

.navbar-brand,
.nav-link {
    color: white !important;
    font-size: 1.3rem;
    font-weight: bold;
}

.navbar-brand:hover,
.nav-link:hover {
    color: turquoise !important;
}

.nav-link {
    padding-right: 15px !important;
}

@media screen and (max-width: 700px) {

    .navbar-brand,
    .nav-link {
        font-size: 16px;
    }
}